<html>
    <head>
        <title>TRISTAN LIVES</title>
    </head>
    <body>
        <h1> SUP </h1>
        <h2>bruh</h2>
        <p>go to this website: <a href=''>internet</a></p>
        <p>We only live to drop the <em>bass</em></p>
        <ul>
            <li>this</li>
            <li>is</li>
            <li>a</li>
            <li>list</li>
        </ul>
        <div>
            <p>post one</p>
        </div>
        <div>
            <p>post two</p>
        </div>
        <div>
            <p>post three</p>
        </div>
    </body>
</html>